<html>
    <head>
        <title>FIPS</title>
         </head>
         <body>
             <div>
                 <h1><a href="/"> Welcome to FIPS</a></h1>
             </div>
             <div>
                 <p>published:14.06.2014, </p>
                 <h2><a href=""></a> My first post</a></h2>
                 <p>Thank you for visiting FIPS.</p>
             </div>
             <div>
                 <p>published:14.06.2014, 12:14</p>
                 <h2><a href="">My second post</a></h2>
                 <p>Visit us more.</p>
             </div>
         </body>

</html>